@use '../var.scss' as V;

.course-page {
    display: flex;
    width: 100%;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: V.$xl;
        margin-top: 50px;

        h1 {
            padding: 0 30px;
            margin: 0;
            font-size: 36px;
            span {
                color: V.$blue;
                font-weight: 200;
                font-size: 20px;
                padding: 0 20px;
            }
            b {
                font-weight: 400;
                font-size: 20px;
                text-transform: uppercase;
                color: V.$red;
            }
        }

        &__desc {
            padding: 0 30px;
            margin: 20px 0;
            font-size: 14px;
            font-family: V.$main-font;
            color: V.$black;
            line-height: 1.5;
        }

        &__list {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            flex-direction: column;
            margin-top: 50px;

            li {
                display: flex;
                padding: 0 30px;
                position: relative;
                align-items: center;
                column-gap: 20px;


                p {
                    margin: 0;
                    font-size: 14px;
                    font-family: V.$font1;
                    text-align: justify;
                }

                h4 {
                    font-size: 26px;
                    font-weight: 700;
                    color: V.$blue;
                    margin: 0;
                }

                h5 {
                    color: V.$orange;
                    font-weight: 400;
                    width: 200px;
                    min-width: 200px;

                    a {
                        color: V.$orange;
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 18px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    span {
                        font-weight: 200;
                    }

                    b {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }


        }
    }
}