@use '../var.scss' as V;

.part-page {
    display: flex;
    width: 100%;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: V.$xl;
        margin-top: 50px;

        h1 {
            padding: V.$pad;
            position: relative;
            width: 100%;
            .part-title {
                font-size: 30px;
                font-weight: 600;
                color: V.$blue;
                display: block;
                margin-bottom: 20px;
            }
            .course-title {
                font-size: 15px;
                color: V.$red
            }

            .part-number {
                font-size: 40px;
                color: V.$orange;
                position: absolute;
                top: 0;
                right: V.$pad;
            }
        }

        &__list {
            padding: V.$pad;
            img {
                width: 50%;
                height: auto;
                max-width: 50%;
            }
        }

    }

}