@import "bootstrap/scss/bootstrap";

.item-bin {
    display: flex;
    justify-content: space-between;

    &__content {
        display: flex;
        column-gap: 20px;
        align-items: center;

        b {
            font-size: 20px;
            display: block;
            width: 300px;
        }

        span {
            letter-spacing: 3px;
            font-size: 18px;
            display: block;
            width: 100px;
            color: darkgrey;
        }

        .lic {
            display: flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            background-color: chocolate;
            font-weight: bold;
            line-height: 1;
            color: white;
        }
    } 
}

.dialog-bin {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    &__window {
        width: 400px;
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: crimson;
        color: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
}