
$blue: #004777;
$red: #A30000;
$orange: #FF7700;
$bg-color1: #EFD28D;
$bg-color2: #00AFB5;

$gray: #ECE4B7;
$white: #FFFFFF;
$black: #000000;


$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;

$pad: 20px;
$pad-sm: 10px;

$main-font: "Oswald", sans-serif;
$font1: "Slabo 27px", serif;