

    <form action="{{url}}" method="post">
        <input type="text" name="dydis">
        <input type="color" name="spalva">
        <button type="submit">Pirmyn</button>
    </form>
    
</body>
</html>