@import "bootstrap/scss/bootstrap";

.invoice.card {
    padding: 5px;
}

.invoice-line {
    display: flex;
    column-gap: 5px;
    width: 100%;
    &.mb-3 {
        display: flex;
    }
    &__title {
        flex: 5;
    }
    &__price {
        flex: 1;
    }
    &__quantity {
        flex: 1;
    }
    &__total {
        flex: 1;
    }
    &__delete {
        flex: 1;
        margin-top: 32px;
    }
    
}

.invoice-line-add {
    display: flex;
    width: 100%;
}

.invoice-header {
    display: flex;
    width: 100%;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
    input {
        width: 150px
    }
}

.invoice-totals {
    display: flex;
    width: 100%;
    align-items: flex-end;
    padding: 20px 80px 0 0;
    flex-direction: column;
    gap: 10px;
    &__line {
        display: flex;
        column-gap: 10px;
        span {
            font-weight: bold
        }
    }
}

.invoice-buyer {
    .flex {
        display: flex;
        column-gap: 10px;
    }
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    padding: 10px;
    margin-bottom: 40px;
    &__company {
        label {
            display: inline-block;
            width: 100%;
            text-align: left;
            padding-left: 10px;
        }
    }
}