$xl: 1100px;
$color-red: pink;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: $xl;
        background-color: #6495ed77;
        height: 80px;

        a {
            text-decoration: none;
            color: $color-red;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
                color: darken($color-red, 10%);
            }

        }
    }
}

section.hero {
    position: relative;
    display: flex;
    justify-content: center;

    .hero-content {

        width: 100%;
        display: flex;
        justify-content: center;

        .hero-box-content {
            width: 100%;
            max-width: $xl;
            display: flex;
            height: calc(100vh - 80px);
            align-items: flex-end;

            .hero-box {
                background-color: #6495ed77;
                display: flex;
                flex-direction: column;
                padding: 50px 30px;
                margin-bottom: 150px;
                row-gap: 20px;
                
                h1 {
                    font-size: 50px;
                    color: $color-red;
                    margin-bottom: 20px;
                    margin: 0;
                }
                p {
                    font-size: 20px;
                    color: $color-red;
                    margin: 0;
                    max-width: 550px;
                }
            }
        }


        .hero-image {
            position: absolute;
            top: -80px;
            z-index: -1;
            height: 100vh;
            display: flex;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}