#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 2s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.border-sq {
  margin: 15px;
  padding: 15px;
  min-width: 200px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-sq legend {
  font-size: 30px;
  padding: 20px;
  font-family: monospace;
  font-weight: 700;
  color: white;
}

.shape {
  margin: 150px;
  transition: all 1s;
}

.shape-control {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}

.shape-control label {
  width: 30px;
}

.router-menu {
  display: flex;
  column-gap: 20px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #646cffaa;
}

.router-page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.router-menu a {
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}

.router-menu a.active {
  border-bottom: 3px solid #646cffaa;
}

/* AUTH */

#root:has(.auth-nav) {
  box-sizing: border-box;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.auth-nav {
  align-self: flex-start;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.auth-nav .left, .auth-nav .right {
  column-gap: 30px;
  display: flex;
}

.auth-nav .left a.active {
  color: crimson;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #60992D;
  position: relative;
}

.form h1 {
  margin: 0 0 30px 0;
}

.form .inputs {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  row-gap: 20px;
}

.form .inputs .input {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}




