<div class="dialog-bin">
    <form class="dialog-bin__window" action="{{url}}destroy/{{driver.id}}" method="post">
        <h1>Are you sure?</h1>
        <p>Delete driver {{driver.driver_table}}</p>
        <button type="submit" class="btn btn-outline-warning">Delete</button>
        <a href="{{url}}" class="btn btn-outline-secondary mt-3">Cancel</a>
    </form>
</div>